<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-sm-3">
    <div class="box-container"> 
      <div class="box-img"> 
        <img src="{%IMAGE%}" width="200px" height="100px" alt="{%NAME%}" />
        <div class="box-price">${%PRICE%}</div>
      </div>
      <h4 class="box-title">{%NAME%}</h4>  
      <div class="box-heading text-uppercase">{%CATEGORY%}</div>
      <div class="box-heading text-uppercase">{%DESCRIPTION%}</div>


    </div>
  </div>
</body>
</html>